@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap");
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-syne: "Syne", sans-serif;
    --font-bogle: "BBH Bogle", sans-serif;
}

body {
    font-family: "Syne", sans-serif;
    overflow-x: hidden;
    background-color: #0a0a0a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-syne);
}
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.glass-panel {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.glass-panel-dark {
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* Smooth scrolling for anchor links */
html {
    scroll-behavior: smooth;
}
